body{
    padding-left : 210px;
    padding-top : 60px;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height : 50px;
    position:fixed;
    top:0;
    left : 0;
    width: 100%;
    background-color: pink;
}
.left-section-page{
    background-color: red;
    position : fixed;
    top : 50px;
    left : 0;
    bottom : 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 100px 100px;
    grid-row : 100px 100px;
    width: 200px;
}
.container-contant{
    width: 340px;
    height: 330px;
    background-color: lightblue;
}
.thumbnail-img{
    margin-top : 0px;
    border-radius: 10px;
    width: 340px;
    object-fit: contain;
}