body{
    font-family: Arial, Helvetica, sans-serif;
}
.suggest-container{
    display: block;
}
.video-creater{
    display : block;
}
.image-thumbnail{
    display : inline-block;
    vertical-align: top;
}
.thumbnail{
    width : 190px;
    height : 100px;
    object-fit: cover;
}
.video-title{
    width: 300px;
    display : inline-block;
    margin-left : 10px;

}
.video-creater-topic{
    font-size: 16px;
    font-weight: bold;
    margin-top : 5px;
    margin-bottom : 0px;

}
.username{
    position : relative;
    font-size: 12px;
    color : gray;
    margin-top: 6px;
    margin-bottom : 5px;
}
.username-creater-tools-container{
    display: flex;
    position: absolute;
    width: 350px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(245, 241, 241);
    pointer-events: none;
    opacity: 0;
}
.username-creater:hover .username-creater-tools-container{
    opacity: 1;
    transition: opacity 0.5s;
}
.username-creater-tools-container .left-section{
    display: flex;
    align-items: center;
    width: 30%;
}
.left-section .img-creater{
    width: 100%;
    object-fit: cover;
}
.username-creater-tools-container .right-section{
    width: 80%;
    margin-left : 10px;
}
.right-section h1{
    font-size: 20px;
    pointer-events: none;
}
.right-section .mention-creator{
    font-size: 14px;
    pointer-events: none;
}
.viewdate{
    font-size: 12px;
    color : gray;
    margin-top: 0px;
    margin-bottom : 0px;
}
.right-shrink-video{
    position: fixed;
    background-color: gray;
    width: 350px;
    height: 200px;
    right : 10px;
    bottom : 10px;
}
.clone-shrink-video{
    position: absolute;
    top : -20px;
    left : -15px;
    font-size: 18px;
    border-radius: 50px;
    border-color: black;
    border-width : 1px;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left : 10px;
    padding-right : 10px;
    color:white;
    background-color: black;
}