body{
    font-family: Arial, Helvetica, sans-serif;
}
.container-main{
    display:flex;
    justify-content: center;
}
.container-menu{
    width : 300px;
    height : 105px;
    border : 0px;
    border-color:black;
    border-style:solid;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px;
}
.container-home{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right : 6px;
    margin-bottom: 10px;
}
.container-home,.container-message,.container-notification:hover{
    cursor: pointer;
}
#Text-Home{
    font-size: 17px;
}
#Home-Amount{
    font-size : 16px;
    background-color: rgb(0, 81, 255);
    color : white;
    width: 40px;
    border : 1px;
    border-style : solid;
    border-radius: 30px; 
    display : flex;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.container-notification{
    display : flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right : 6px;
    margin-bottom: 10px;
}
.container-message{
    display : flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right : 6px;
    margin-bottom: 10px;
}
#Text-Notification{
    font-size : 17px;
}

#Text-Message{
    font-size : 17px;
}
#Notification-Amount{
    font-size : 16px;
    background-color: rgb(0, 81, 255);
    color : white;
    width: 40px;
    border : 1px;
    border-style : solid;
    border-radius: 30px; 
    display : flex;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

#Message-Amount{
    font-size : 16px;
    background-color: rgb(0, 81, 255);
    color : white;
    width: 40px;
    border : 1px;
    border-style : solid;
    border-radius: 30px; 
    display : flex;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
